body {
  width: 100%;
  background-image: linear-gradient(rgb(234, 241, 243), 88%, #ffa43b); 
}

/*NAVBAR, LOGO E MENU*/

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #2e7ba2;
  color: #fff;
}

.nav-links a {
  color: #fff;
}

.logo {
  font-size: 32px;
  font: #fff;
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 16px;
  font: rgb(255,255,255);
  cursor: pointer;
}

.menu li {
  padding: 15px;
}

/* NAVBAR MENU RESPONSIVA*/
/* CHECKBOX HACK */
input[type=checkbox]{
  display: none;
} 

 /*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

.banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

 /* Media Querie - Mobile e Tablet */
@media (max-width: 1279px) {
  .menu { 
  display:none;
  position: absolute;
  background-color:rgb(180, 219, 245);
  right: 0;
  left: 1;
  top: 72px;
  text-align: center;
  }

  .menu li {
  border-bottom: 1px solid #0084ff77;
  }

  input[type=checkbox]:checked ~ .menu{
  display: block;
  }

  .hamburger {
  display: block;
  padding-left: 60%;
  }

  body {
    background-image: linear-gradient(rgb(234, 241, 243), 90%, rgb(255, 165, 61));
  }

  /*Home*/

  .imagem-data {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
  }

  .h1-data {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
  }

  .h2-data {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
  }

  .paragrafo-data {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 2em;
  }

  .comprar-button {
    cursor: pointer;
    border: none;
    background-color: rgb(234, 241, 243);
    margin-top: 15px;
    width: 100%;
  }

  .h3-sabado {
    display: block;
    font-size: 40px;
    font-weight: bold;
    color: #303030e8;
    text-align: center;
  }

  .h4-sabado {
    display: block;
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: orange;
    font-weight: bold;
  }

  .p1-sabado {
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    color: #303030e8;
  }

  .p2-sabado {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #303030e8;
  }

  .p3-sabado {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #303030e8;
  }

  .p4-sabado {
    text-align: center;
    font-size: 20px;
    color: #303030e8;
  }

  .h5-domingo {
    display: block;
    font-size: 28px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: orange;
    font-weight: bold;
  }

  .p1-domingo {
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    color: #303030e8;
  }

  .p2-domingo {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #303030e8;
  }

  .p3-domingo {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #303030e8;
  }

  .p4-domingo {
    text-align: center;
    font-size: 20px;
    color: #303030e8;
  }

  /*A experiência*/

  .imagem-experiencia {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
  }

  .h1-exp {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: #303030e8;
  }

  .paragrafo-experiencia {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 1.5em;
    color: #303030e8;
  }

  .imagem-sustentabilidade {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
  }

  .h2-sus {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: #303030e8;
  }

  .paragrafo-sus {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 1.5em;
    color: #303030e8;
  }

  .imagem-atracoes {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
  }

  .h3-atr {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: #303030e8;
  }

  .paragrafo-atr {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 1.5em;
    color: #303030e8;
  }

/*Mapa de Setores*/

  .imagem-palco {
    border: none;
    border-radius: 5px;
    padding-bottom: 20px;
    width: 100%;
  }

  .h1-set {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: #303030e8;
    margin-top: -10%;
    margin-bottom: 5%;
  }

  .imagem-pista {
    border: none;
    border-radius: 5px;
    width: 100%;
  }

  .h2-set {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: #303030e8;
  }

  .paragrafo1-set {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 1.5em;
    color: #303030e8;
  }

  .imagem-cadeiras {
    border: none;
    border-radius: 5px;
    width: 100%;
  }

  .h3-set {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: #303030e8;
  }

  .paragrafo2-set {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 1.5em;
    color: #303030e8;
  }

  .imagem-pista-premium {
    border: none;
    border-radius: 5px;
    width: 100%;
  }

  .h4-set {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: #303030e8;
  }

  .paragrafo3-set {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 1.5em;
    color: #303030e8;
  }

/*Informações Gerais*/

  .h1-per {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #303030e8;
    padding: 10px;
  }

  .accordion {
    background-color: #2e7ba2;
    color: #fff;
    cursor: pointer;
    padding: 14px;
    width: 90%;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-left: 5%;
  }

  .panel {
    padding: 14px;
    background-color: #c8deef;
    display: none;
    overflow: hidden;
    width: 90%;
    margin-left: 5%;
    line-height: 1.5em;
    text-align: justify;
  }

  /*Área dos Ingressos*/

  form {
    margin: 0 auto;
    width: 30%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }

  form div {
    margin-top: 1em;
    margin-left: 10%;
  }

  label {
    display: inline-block;
    width: 90px;
    text-align: left;
  }

  input, textarea {
    font: 1em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
  }

  input:focus, textarea:focus {
    border-color: #000;
  }

  #cpf-error {
    display: none;
    color: red;
    font-size: 14px;
    margin-left: 100%;
  }

  #nasc-error {
    display: none;
    color: red;
    font-size: 14px;
    margin-left: 0px;
  }

  #nascimento[disabled] {
    background-color: #f2f2f2;
    color: #a1a1a1;
    cursor: not-allowed;
  }

  .form-button {
    font-size: 16px;
    padding: 4px 16px;
    margin-left: 110%
  }

/*Ingresso Comprado*/

  .h1-comp {
    text-align: center;
    font-size: 30px;
    color: #303030e8;
  }
}

/* Media Querie - Desktop*/

@media (min-width: 1280px) {

/* Home */

  .imagem-data {
    float: left;
    padding: 20px;
    margin-left: 15%;
    width: 480px;
  }

  .h1-data {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 20%;
  }

  .h2-data {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 30%;
  }
    
  .paragrafo-data {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 2em;
    margin-left: 30%;
  }
  
  .comprar-button {
    cursor: pointer;
    border: none;
    margin-top: 15px;
    margin-left: 18%;
    background-color: rgb(234, 241, 243)
  }

  .h3-sabado {
    padding-top: 2%;
    display: block;
    font-size: 40px;
    font-weight: bold;
    color: #303030e8;
    text-align: center;
  }

  .h4-sabado {
    display: inline-block;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px;
    margin-left: 40%;
    color: #fff;
    background-color: orange;
    font-weight: bold;
  }

  .p1-sabado {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: #303030e8;
  }

  .p2-sabado {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #303030e8;
  }

  .p3-sabado {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #303030e8;
  }

  .p4-sabado {
    text-align: center;
    font-size: 20px;
    color: #303030e8;
  }

  .h5-domingo {
    display: inline-block;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px;
    margin-left: 39%;
    color: #fff;
    background-color: orange;
    font-weight: bold;
  }

  .p1-domingo {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: #303030e8;
  }

  .p2-domingo {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #303030e8;
  }

  .p3-domingo {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #303030e8;
  }

  .p4-domingo {
    text-align: center;
    font-size: 20px;
    color: #303030e8;
  }

  /*A experiência*/

  .imagem-experiencia {
    float: left;
    padding: 20px;
    width: 480px;
    margin-left: 15%;
  }

  .h1-exp {
    display: block;
    text-align: left;
    font-size: 20px;
    font-weight: bolder;
    color: #303030e8;
  }

  .paragrafo-experiencia {
    display: block;
    text-align: left;
    font-size: 14px;
    line-height: 2em;
    color: #303030e8;
  }

  .imagem-sustentabilidade {
    float: right;
    padding: 20px;
    width: 480px;
    margin-right: 15%;
  }

  .h2-sus {
    padding-top: 1%;
    display: block;
    text-align: right;
    font-size: 20px;
    font-weight: bolder;
    color: #303030e8;
  }

  .paragrafo-sus {
    display: block;
    text-align: right;
    font-size: 14px;
    line-height: 2em;
    color: #303030e8;
  }

  .imagem-atracoes {
    float: left;
    padding: 20px;
    width: 480px;
    margin-left: 15%;
  }

  .h3-atr {
    padding-top: 3%;
    display: block;
    text-align: left;
    font-size: 20px;
    font-weight: bolder;
    color: #303030e8;
  }

  .paragrafo-atr {
    display: block;
    text-align: left;
    font-size: 14px;
    line-height: 2em;
    color: #303030e8;
  }

/*Mapa de Setores*/

  .imagem-palco {
    display: inline-block;
    vertical-align: center;
    padding: 20px;
    margin-left: 16%;
    margin-bottom: -3%;
  }

  .h1-set {
    display: block;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: #303030e8;
    margin-bottom: 2%
  }

  .imagem-pista {
    float: left;
    padding: 20px;
    margin-left: 10.5%;
  }

  .h2-set {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: #303030e8;
    margin-top: 17.5%;
    margin-left: -57%;
  }

  .paragrafo1-set {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 2em;
    color: #303030e8;
    margin-left: -57%;
  }

  .imagem-pista-premium {
    float: right;
    padding: 20px;
    margin-top: -25%;
    margin-right: 39%;
  }
  
  .h3-set {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: #303030e8;
    margin-top: -10%;
  }

  .paragrafo2-set {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 2em;
    color: #303030e8;
  }

  .imagem-cadeiras {
    float: right;
    padding: 20px;
    margin-top: -36%;
    margin-right: 12%;
  }

  .h4-set {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: #303030e8;
    margin-top: -21%;
    margin-left: 55%;
  }

  .paragrafo3-set {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 2em;
    color: #303030e8;
    margin-left: 55%;
    margin-bottom: 10%
  }

 /*Informações Gerais*/
 
  .h1-per {
    display: block;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #303030e8;
    padding: 10px;
  }

  .accordion {
    background-color: #2e7ba2;
    color: #fff;
    cursor: pointer;
    padding: 14px;
    width: 50%;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-left: 25%;
  }

  .accordion:hover {
    background-color: #75e2f5;
  }

  .panel {
    padding: 16px;
    background-color: #c8deef;
    display: none;
    overflow: hidden;
    width: 50%;
    margin-left: 25%;
    line-height: 2em;
    text-align: justify;
  }

/*Área dos Ingressos*/

  form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }

  form div {
    margin-top: 1em;
    margin-left: 10%;
  }

  label {
    display: inline-block;
    width: 90px;
    text-align: left;
    padding-bottom: 2px;
  }

  input, textarea {
    font: 1em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
  }

  input:focus, textarea:focus {
    border-color: #000;
  }

  input:invalid {
    border: 2px red;
  }
  
  input:valid {
    border: 2px solid black;
  }  

  #cpf-error {
    display: none;
    color: red;
    font-size: 14px;
    margin-left: 0px;
  }
  
  #nasc-error {
    display: none;
    color: red;
    font-size: 14px;
    margin-left: 0px;
  }
  
  #nascimento[disabled] {
    background-color: #f2f2f2;
    color: #a1a1a1;
    cursor: not-allowed;
  }

  .form-button {
    margin-left: 28%;
    font-size: 16px;
    padding: 4px 16px;
  }
  
/*Ingresso Comprado*/

  .h1-comp {
    text-align: center;
    font-size: 30px;
    color: #303030e8;
  }
}

.footer {
  width: 100%;
}


